project_root

octave: true

# style guide (https://florianschanda.github.io/miss_hit/style_checker.html)
line_length: 120

# camelCase
regex_function_name: "[a-z]+(_*[a-zA-Z0-9]+[a-z]*)*"
regex_script_name: "[a-z0-9]+(_[a-z0-9]*)*"
regex_nested_name: "[a-z]+([A-Z0-9]+[a-z]*)*"
regex_method_name: "[a-z]+([A-Z0-9]+[a-z]*)*"

# all uppercase or camelCase
regex_parameter_name: "[A-Z]+(_[A-Z]+)*|[a-z]+([A-Z]+[a-z]*)*"

# suppress_rule: "naming_parameters"

copyright_entity: "MN"

tab_width: 4

# metrics limit for the code quality (https://florianschanda.github.io/miss_hit/metrics.html)
metric "cnest": limit 4
metric "file_length": limit 350
metric "cyc": limit 19
metric "parameters": limit 8
